<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />

        <link rel="stylesheet" href="{{ STATIC_URL }}css/foundation.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/app.css">

        <title>GoT a name?</title>
    </head>
    <body>
        <div class="row">
            <div class="twelve columns">
                <h1>GoT a name?</h1>
                {% block content %}{% endblock %}
            </div>
        </div>

        <footer>
            <div class="row">
                <div class="twelve columns centered">
                    Sources: <a href="http://en.wikipedia.org/wiki/A_Song_of_Ice_and_Fire">A Song of Ice and Fire</a>, <a href="http://www.lagardedenuit.com/">La Garde de Nuit</a>
                </div>
            </div>
        </footer>
    </body>
</html>

